.Shops {
  text-align: center;
  padding: 20px;
  position: relative;
  margin-top: 90px;
}

.Shops h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.Shops p {
  font-size: 1.2em;
  color: #555;
}

.Shops button {
  margin: 10px;
  padding: 5px;
  font-size: 1em;
  background-color: #78a6d3;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;  /* حجم أصغر */
  height: 30px; /* حجم أصغر */
}

.Shops button:hover {
  background-color: #0056b3;
}

.navigate-back {
  position: absolute;
  top: 5px;
  left: 10px;
}

.navigate-front {
  position: absolute;
  top: 5px;
  right: 10px;
} 


.Shops div {
  margin-top: 90px;
}

.Shops ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.Shops li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 40%;  /* تصغير العرض قليلاً */
  max-width: 300px; /* تحديد أقصى عرض */
  box-sizing: border-box;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Shops li:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Shops img {
  width: 100%;
  height: auto;
  max-height: 150px; /* تحديد أقصى ارتفاع للصور */
  border-radius: 10px;
  object-fit: cover; /* لضمان أن الصور تملأ المساحة بشكل جيد */
  margin-bottom: 10px;
}

.Shops li .separator {
  width: 80%;
  height: 1px;
  background-color: #ddd;
  margin: 10px 0;
  align-self: center; /* لضمان محاذاة الخط في المنتصف */
}

.Shops h3 {
  margin-top: 10px;
  font-size: 1.5em;
  color: #333;
}

.Shops p {
  color: #666;
}

.Shops li p {
  color: #999; /* لون أفتح للوصف */
  font-size: 0.9em; /* حجم خط أصغر للوصف */
}

.LoginPrompt {
  margin-top: 20px;
}

.footer {
  background-color: #020202;
  color: #fff;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center; /* لتوسيط النص */
}

.footer-top {
  display: flex;
  justify-content: center; /* لتوسيط الأعمدة */
  flex-wrap: wrap;
  margin-top: 50px;
  /* margin-bottom: 20px; */
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 10px;
  max-width: 200px; /* لتحديد عرض الأعمدة */
}

.footer-column h3 {
  border-bottom: 2px solid #555;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem; /* حجم النص لعناوين الأعمدة */
  color:#555;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin: 5px 0;
  font-size: 0.9rem; /* حجم النص للعناصر */
}

.footer-column a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem; /* حجم النص للروابط */
}

.footer-column a:hover {
  text-decoration: underline;
}

.social-media {
  display: flex;
  justify-content: center; /* لتوسيط الأيقونات */
  gap: 10px;
}

.social-media a {
  color: #fff;
  font-size: 1.5em;
}

.footer-bottom {
  border-top: 1px solid #555;
  padding-top: 10px;
}

.footer-bottom ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; /* لتوسيط الروابط */
  gap: 15px;
  margin-bottom: 10px;
  font-size: 0.9rem; /* حجم النص للروابط في الأسفل */
}

.footer-bottom li {
  display: inline;
}

.footer-bottom a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-bottom p {
  margin: 5px 0;
  font-size: 0.9rem; /* حجم النص للفقرات في الأسفل */
  color:#555;
}
  