.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 600px;
    overflow: hidden;
    margin-top: 100px;
  }
  
  .users-list {
    width: 25%;
    background-color: #2b2e4a;
    color: white;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
  }


  .users-list h5 {
    margin-bottom: 20px;
  }
  
  .user-card {
    display: flex;
    align-items: center;
    width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px; /* Add some border radius */
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  .user-card img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .user-card h6 {
    margin: 0;
    font-size: 16px;
  }
  
  .user-card p {
    margin: 0;
    font-size: 12px;
  }

  .user-card:hover {
    background-color: #3a3f6f; /* Light hover effect */
  }
  
  .user-card.selected {
    background-color: #f3dc77;
  }
  
  .chat-section {
    flex: 1;
    /* width: 75%; */
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    box-sizing: border-box;
  }
  
  .chat-header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
  }
  
  .chat-header img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .chat-header h5 {
    margin: 0;
  }
  
  .message-list {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
  }
  
  .message {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    max-width: 60%;
  }
  
  .message.sent {
    background-color: #dcf8c6;
    align-self: flex-end;
    flex-direction: row-reverse;
  }
  
  .message.received {
    background-color: #ffffff;
    align-self: flex-start;
  }
  
  .message img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 10px;
  }
  
  .message p {
    margin: 0;
  }
  
  .input-group {
    display: flex;
    padding: 20px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
  }
 
 
  .input-group input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-right: 10px;
    font-size: 16px;
    
  }
  .btn{
    width: 100px;
    margin-left: 500px;
  }
  
  .input-group button {
    padding: 6px 12px;
    border-radius: 20px;
    border: none;
    background-color: #4caf50;
    color: white;
    font-size: 14px;
  }