.search-bar {
  display: flex;
  align-items: center;
  background-color: #ffff;
  margin-top: 100px;
  border-radius: 25px;
  padding: 8px 9px;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}
.add-to-cart-style{
  display: flex;
}

.search-icon {
  color: #28598a;
  margin-right: 1px;
}

.search-bar input {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  font-size: 16px;
  color: #333;
}

.search-bar input::placeholder {
  color: #bbb;
}

.search-bar input:focus {
  color: #28598a;
}

.search-bar:hover {
  background-color: #f0ea7a;
}
.product-details-container {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  margin-top: 100px;
}

.product-Image {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.Product-details h3 {
  font-size: 25px;
  color: #333;
  margin-top: 50px;
  text-align: center;
  /* padding-left: 140px; */
}

.product-image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  transition: transform 0.3sease;
}

.product-image-container img:hover{
  transform: scale(1.5);
  
}

.Product-details {
  flex: 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Product-details p.description {
  margin-bottom: 10px;
  white-space: pre-line;
  word-wrap: break-word;
}

.Product-details p {
  font-size: 13px;
  color: #555;
  margin-bottom: 20px;
}

.Product-details .price {
  font-size: 24px;
  font-weight: bold;
  color: #e74c3c;
}

.Product-details input {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  align-items: center;
  margin-right: 10px;
  width: 300px;
  height: 30px;
  font-size: 14px;
  margin-bottom: 50px;
}

.Product-details button {
  /* padding: 10px 20px; */
  background-color: #28598a;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 17px;
  transition: background-color 0.3s;
  margin-left: 220px;
  margin-bottom: 60px;
  text-align: center;
  width: 300px;
  height: 45px;
}

.Product-details button:hover {
  background-color: #78a6d3;
}

.Product-details .message {
  margin-top: 10px;
  color: #28a745;
  font-size: 16px;
}

.product-reviews {
  margin-top: 40px;
}

.product-reviews h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center; /* Center the items horizontally */
}


.products{
  padding-left: 693px;
  /* margin-top: 50px; */
  margin-bottom: 40px;
  color: #505050;
  position: relative;
}

.products::after {
  content: "";
  display: block;
  width: 130px; /* عرض الخط */
  height: 2px; /* سمك الخط */
  background-color: #f1c40f; /* لون أصفر */
 /* المسافة بين الخط والنص */
}

.product-list li {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: calc(25% - 40px); 
  box-sizing: border-box; 
}


.product-list li .separator {
  width: 80%;
  height: 1px;
  background-color: #ddd;
  margin: 10px 0;
  align-self: center; 
}


.product-list li:hover {
  background-color: #ffffff;
}

.product-list .product-image-container img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;

}
.showMore{
  background-color: #78a6d3;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 17px;
  transition: background-color 0.3s;
  margin-left: 610px;
  margin-bottom: 60px;
  text-align: center;
  width: 300px;
  height: 45px;
}
.showLess{
  background-color: #78a6d3;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 17px;
  transition: background-color 0.3s;
  margin-left: 610px;
  margin-top: 50px;
  margin-bottom: 60px;
  text-align: center;
  width: 300px;
  height: 45px;
}


/* Button Styling */
.product-list button {
  background-color: #78a6d3;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 17px;
  transition: background-color 0.3s;
  margin-left: 610px;
  margin-bottom: 60px;
  text-align: center;
  width: 300px;
  height: 45px;
}

.product-list button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.product-list h3 {
  font-size: 14px;
  margin-bottom: 10px;
  color: #333;
}

.product-list p {
  margin: 5px 0;
  color: #555;
}





.rating-section {
  text-align: center;
  /* margin-top: 10px; */

}
.rating{
  padding-left: 710px;
}

.rating-section h3 {
  margin-top: 110px;
  font-size: 24px; 
  color: #505050;
  cursor: pointer; 
  padding-left: 4px;

}


.rating-section button {
  margin-top: 10px;
  background-color: #78a6d3;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 17px;
  transition: background-color 0.3s;
  /* margin-left: 18px; */
  margin-bottom: 60px;
  text-align: center;
  width: 300px;
  height: 45px;

}

.rating-section button:hover {
  background-color: #0056b3;
  transform: scale(1.05); 
}

/* Button Focus Effect */
.rating-section button:focus {
  outline: none; 
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); 
}

.footer {
  background-color: #020202;
  color: #fff;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center; 
}

.footer-top {
  display: flex;
  justify-content: center; /* لتوسيط الأعمدة */
  flex-wrap: wrap;
  margin-top: 50px;
  /* margin-bottom: 20px; */
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 10px;
  max-width: 200px; /* لتحديد عرض الأعمدة */
}

.footer-column h3 {
  border-bottom: 2px solid #555;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem; /* حجم النص لعناوين الأعمدة */
  color:#555;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin: 5px 0;
  font-size: 0.8rem; /* حجم النص للعناصر */
}

.footer-column a {
  color: #fff;
  text-decoration: none;
  font-size: 0.7rem; /* حجم النص للروابط */
}

.footer-column a:hover {
  text-decoration: underline;
}

.social-media {
  display: flex;
  justify-content: center; /* لتوسيط الأيقونات */
  gap: 10px;
}

.social-media a {
  color: #fff;
  font-size: 1.5em;
}

.footer-bottom {
  border-top: 1px solid #555;
  padding-top: 10px;
}

.footer-bottom ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; /* لتوسيط الروابط */
  gap: 15px;
  margin-bottom: 10px;
  font-size: 0.9rem; /* حجم النص للروابط في الأسفل */
}

.footer-bottom li {
  display: inline;
}

.footer-bottom a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-bottom p {
  margin: 5px 0;
  font-size: 0.9rem; /* حجم النص للفقرات في الأسفل */
  color:#555;
}


