/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

/* Container for product details view */
.product-details-container {
  display: flex;
  flex-direction: row; /* Ensure the flex items are in a row */
  align-items: flex-start; /* Align items to the start of the container */
  justify-content: space-between; /* Distribute space between the items */
  margin: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.product-Image {
  flex-basis: 40%; /* Takes up 40% of the container width */
  margin-right: 20px;
}

.product-Image img {
  max-width: 100%;
  border-radius: 8px;
}

.Product-details {
  flex-basis: 60%; /* Takes up 60% of the container width */
}

.product-reviews {
  width: 100%; /* Takes up the full width of the container */
  margin-top: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.product-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-list li {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.product-list li:hover {
  transform: scale(1.05);
  background-color: #f0f0f0;
}

.product-list li img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.product-image-container {
  text-align: center;
  margin-top: 10px;
}

.product-image-container img {
  max-width: 100%;
  border-radius: 8px;
}

/* Buttons */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Login Prompt */
.login-prompt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-prompt-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
