.body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #f0f4f8 50%, #032449 50%);
}

.form-container {
  display: flex;
  width: 800px;
  background: linear-gradient(to right, #021429 50%, #f7f7f7 50%);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.image-container {
  display: none; /* إخفاء على الأجهزة المحمولة */
}

.image-container img {
  width: 100%;
  height: 100%;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px; /* تصغير حجم الخط */
  box-sizing: border-box;
}

.button {
  padding: 10px;
  width: 320px;
  max-width: 320px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.forgot-password{
  text-align: center;
  margin-top: 15px;
  width: 100%;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.google-login-button {
  padding: 10px;
  width: 320px;
  max-width: 320px;
  margin-left: 11px;
  background-color: #db4437;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.google-login-button:hover {
  background-color: #c23321;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .image-container {
    display: block;
    width: 400px;
  }
}