.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right,#78a6d3, #fbc02d, #fffde7 ,#fafafa,#fafafa); /* لون خلفية داكن لتمييز الشريط */
  color: #0f0f0f; 
  display: flex;
  justify-content: space-between; /* توزيع العناصر بشكل متساوي */
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* إضافة ظل للشريط */
  z-index: 1000;
}

.NavBar .user-info {
  display: flex;
  align-items: center;
  margin-right: 20px; /* مسافة بين الشعار والمعلومات الشخصية */
}

.NavBar .user-info .user-image {
  width: 35px;
  height: 35px;
  border-radius: 50%; /* جعل الصورة دائرية */
  object-fit: cover; /* ملاءمة الصورة داخل الدائرة */
  margin-left: 50px; /* مسافة بين الصورة والاسم */
  margin-bottom: 10px;
}

.NavBar .user-info .user-name {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
  color: #555;
 
}



.NavBar .logo-img {
  width: 170px; 
  height: auto; 
  margin-bottom: 10px;
}

.NavBar .cart-icon {
  display: flex;
  align-items: center;
}

.NavBar .cart-icon a {
  color: #0f0f0f;
  font-size: 24px;
  margin-left: 15px;
  text-decoration: none;
}

.NavBar nav {
  display: flex;
  gap: 15px; /* مسافة بين الروابط */
}

.NavBar nav a {
  color: #0b0c0c;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s; /* تأثير تدرج عند التمرير */
}

.NavBar nav a.active {
  background-color: #f3dc77; /* لون خلفية للروابط النشطة */
  color: #090909;
}

.NavBar nav a:hover {
  background-color: #f3dc77; /* خلفية داكنة عند التمرير */
  color: #080808;
}

.NavBar nav a.logout {
  background-color: #f3dc77; /* لون خلفية لزر تسجيل الخروج */
}

.NavBar nav a.logout:hover {
  background-color: #f3dc77; /* لون داكن عند التمرير */
}