html, body, #root {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container-fluid {
    height: 100%;
}

.row {
    height: 100%;
}

.sidebar {
    height: 100vh;
    padding-top: 20px;
    background-color: #343a40;
    position: fixed;
    width: 200px;
    transition: transform 0.3s ease;
}

.sidebar .nav-link {
    color: #adb5bd;
    font-size: 16px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.sidebar .nav-link .fas {
    margin-right: 10px;
}

.sidebar .nav-link.active {
    background-color: #007bff;
    color: #fff;
}

.main-content {
    margin-left: 200px;
    padding: 20px;
    width: calc(100% - 200px);
}

.hamburger-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #343a40;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 1100;
}
@media (min-width: 768px) {
    .col-md-2 {
        flex: 0 0 auto;
        width: 14% !important;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        z-index: 1000;
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .main-content {
        margin-left: 0;
        width: 100%;
    }
}
